@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>
        Для тестирование сборок, перейдите в раздел "Тестирование", для просмотра истории тестирования в раздел "История".
    </p>
</div>
